name: Build and Release Fabric 1.21

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name for release (e.g. v1.3.0)'
        required: true
        default: 'v1.3.0'
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build Fabric 1.21.1
        run: ./gradlew :fabric:1.21.1:build

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ inputs.tag_name || github.ref_name }}
          tag_name: ${{ inputs.tag_name || github.ref_name }}
          files: fabric/versions/1.21.1/build/libs/*.jar
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
